{% extends 'base.html' %}

{% block title %}
    {{ news.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>{{ news.title }}</h2>
    <div class="mb-4">
        <div>
            <span class="mr-3">{{ news.user }}</span>
            <span>{{ news.publish_date }}</span>
        </div>
        {% for tag in news.tags.all %}
            #<a class="tags" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
        {% endfor %}
    </div>

    <div class="text-justify mb-4">
        <p>{{ news.text|linebreaksbr }}</p>
    </div>

    <h4 class="mb-3">Комментарии</h4>
    {% for comment in comments %}
        <div class="card mb-3">
            <div class="card-body text-dark">
                <h5 class="card-title">{{ comment.user }}</h5>
                <h6 class="card-subtitle text-muted mb-2">{{ comment.publish_date }}</h6>
                <p class="card-text">{{ comment.text }}</p>
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-dark">Оставить комментарий</button>
        </form>
    {% endif %}

{% endblock %}