{% extends 'base.html' %}

{% block title %}
    Создание новости - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'news_create_url' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}

                {% if field.errors %}
                    <div class="alert alert-danger mt-2">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-dark" name="create-news">Создать пост</button>
    </form>
{% endblock %}