{% extends 'base.html' %}

{% block title %}
    {{ news.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h1>{{ news.title }}</h1>
    <div>
        <p>{{ news.text }}</p>
        <p>Автор статьи: {{ news.user }}</p>
        <p>Дата публикации: {{ news.publish_date }}</p>
    </div>

    <h3>Комментарии</h3>
    {% for comment in comments %}
        <div>
            {{ comment.user }} <br>
            {{ comment.text }} <br>
            {{ comment.publish_date }}<br><br>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">Оставить комментарий</button>
        </form>
    {% endif %}

{% endblock %}