{% extends 'base.html' %}

{% block title %}
    Регистрация - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="">{{ field.label }}</label>
                <div>{{ field }}</div>
                {% if field.errors %}
                    <div>
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}
