{% extends 'base.html' %}

{% block title %}
    Изменение тега "{{ tag.title|title }}" - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'tag_update_url' slug=tag.slug %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {# Блок с ошибками, если таковые есть #}
            {% if field.errors %}
                <div>
                    {{ field.errors }}
                </div>
            {% endif %}

            {# Вывод полей формы #}
            <div>
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit">Изменить тег</button>
    </form>
{% endblock %}