<div class="card border-dark mb-4">
    <div class="card-header">{{ news.publish_date }}</div>
    <div class="card-body text-dark">
        <h4 class="card-title">{{ news.title }}</h4>
        <p class="card-text">{{ news.text_preview }}</p>
        <a href="{{ news.get_absolute_url }}" class="btn btn-dark">Далее</a>
    </div>
    <div class="card-footer text-muted">
        {% for tag in news.tags.all %}
            #<a class="tags" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
        {% endfor %}
    </div>
</div>